{
  "extends": "eslint-config-airbnb-lite",
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "key-spacing": [2, {"align": "value"}],
    "no-use-before-define": [2, "nofunc"]
  }
}
