._single_import_export_colors__blackShadow {
  box-shadow: 0 0 10px -2px black;
}

._single_import_export_colors__redBorder {
  border: 1px solid red;
}
._single_import_export_source__localName {
  color: red;
}
