._multiple_sources_d__d {
  color: #ddd;
}
._multiple_sources_b__b {
  color: #bbb;
}
._multiple_sources_c__c {
  color: #ccc;
}
._multiple_sources_source1__a {
  color: #aaa;
}
._multiple_sources_source2__foo {
  color: #f00;
}
