._multiple_dependencies_d__d1 {
  color: #d1d1d1;
}
._multiple_dependencies_d__d2 {
  color: #d2d2d2;
}
._multiple_dependencies_b__b1 {
  color: #b1b1b1;
}

._multiple_dependencies_b__b2 {
  color: #b2b2b2;
}
._multiple_dependencies_c__c {
  color: #ccc;
}
._multiple_dependencies_source__a {
  color: #aaa;
}

