.common,
.common:active
{
  display: inline-block;

  margin: 0 0 20px;
  padding: 0 11px;

  cursor: pointer;
  user-select: none;
  transition: all .3s;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #43a047;
  box-shadow: 0 5px 0 #2e7d32;

  font: normal 20px/38px Roboto;
}

.common:hover
{
  background: #4caf50;
  box-shadow: 0 5px 0 #388e3c;
}
