@value primary, primaryShadow from 'Colors.css';

.common
{
  composes: common from './Common.css';
}

.common,
.common:active
{
  margin: 0 0 20px;
  padding: 0 11px;

  transition: all .3s;

  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  background: primary;
  box-shadow: 0 5px 0 primaryShadow;

  font: normal 20px/38px Roboto;
}

.common:hover
{
  background: #4caf50;
  box-shadow: 0 5px 0 #388e3c;
}
